NAME=prenom
OWNER=prenom.nom.ext@simplonformation.co
RG=rg-prenom-nom-prf2026
LOCATION=francecentral
TAGS=simplon
SUFFIX=00000
VNET_NAME=vnet-${NAME}${SUFFIX}
NSG_NAME=nsg-${NAME}${SUFFIX}

# For Subnet Creation based on Vnet Creation
vnetSubnetPrefix=0.0.0.0/24
SUBNET_NAME="subnet-${NAME}${SUFFIX}"

# For Front Subnet Creation
frontVnetSubnetPrefix=0.0.0.0/24
FRONT_SUBNET_NAME="front-subnet-${NAME}${SUFFIX}"

#For Back Subnet Creation
backVnetSubnetPrefix=0.0.0.0/24
BACK_SUBNET_NAME="back-subnet-${NAME}${SUFFIX}"
